<footer class="footer bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>WatchNET</h5>
                <p>Enjoy The Movies Of Your Choice.</p>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <!-- Social media links/icons -->
                <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>Email: moivenet@gmail.com<br>Phone: +1234567890</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; 2024 Your Company Name. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>